<!--The content below is only a placeholder and can be replaced.-->
<header style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav class="DogsAndRaces-nav">
      <a class="DogsAndRaces-navItem" routerLink="/dogs" routerLinkActive="active">Dogs list</a>
      <a class="DogsAndRaces-navItem" routerLink="/dogs/new" routerLinkActive="active">New dog</a>
      <a class="DogsAndRaces-navItem" routerLink="" routerLinkActive="active">Home</a>
  </nav>
</header>
<router-outlet></router-outlet>