<ol>
    <li> Entity, a dog, has a name, age, and a race (choose 5 races, one dog will belong to one of your chosen 5 races). Name
        should consist of lowercase letters, with a length between 5 and 20. Age should be a number between 0 and 30 inclusively.
    </li>
    <li> There's a home view, explaining what the application is about (path: /), it also links to the list view, and a form to
        create new dogs.
    </li>
    <li> 404s should be redirected to home view.
    </li>
    <li> There's a list view (path: /dogs), showing a list of dogs, with names, ages, and races. Don't paginate, display all records.
        Each records has a button to edit, and a button to delete.
    </li>
    <li> There's a create view (path: /dogs/new), showing a form, to add a new dog.
    </li>
    <li> There's an update view (path: /dogs/edit/:id), showing a form, to update the dog with a given id.
    </li>
    <li> Very basic styling, content should have a width of 600px, or 300px if the device has a width of less than 620p
    </li>
</ol>